{% extends "base.html.twig" %}

{% block body %}
    <section class="page-section legal-section" id="legal-notice">
        <div class="container">
            <h2 class="title">Mentions Légales</h2>

            <div class="section-content">
                <h3>Mentions légales et conditions d'utilisation</h2>
                <p>
                    En accédant et en utilisant ce site, vous acceptez pleinement et sans réserve les termes et conditions d'utilisation.
                </p>
            </div>

            <div class="section-content">
                <h3>Modification des termes et conditions d'utilisation</h3>
                <p>
                    L'éditeur se réserve le droit de modifier les termes et conditions d'utilisation, à tout moment.
                </p>
                <p>
                    Les utilisateurs sont encouragés à consulter régulièrement ce document pour se tenir informés des éventuelles modifications.
                </p>
            </div>

            <div class="section-content">
                <h3>Éditeur du site</h3>
                <p>Éditeur : Gaël PAQUIEN</p>
                <p>Forme juridique : Auto-Entrepreneur</p>
                <p>Numéro SIRET : 844 466 441 00020</p>
                <p>Email : <a href="mailto:contact@gaelpaquien.com">contact@gaelpaquien.com</a> </p>
                <p>Site : <a href="https://www.gaelpaquien.com" target="_blank">https://www.gaelpaquien.com</a></p>
                <p>Adresse : 71-73 Avenue de la Patinière, 38500 Voiron</p>
            </div>

            <div class="section-content">
                <h3>Hébergeur du site</h3>
                <p>Hébergeur : o2switch</p>
                <p>Site : <a href="https://www.o2switch.fr/" target="_blank">https://www.o2switch.fr/</a></p>
                <p>Adresse : Chem. des Pardiaux, 63000 Clermont-Ferrand</p>
            </div>

            <div class="section-content">
                <h3>Propriété intellectuelle</h3>
                <p>
                    Le contenu de ce site y compris son code source est mis à disposition du public sans restrictions liées aux 
                    lois sur la propriété intellectuelle.
                </p>
                <p>
                    Vous êtes libre de réutiliser ce projet à des fins non commerciales, 
                    sous réserve du respect de l'éthique et du respect des droits d'auteur des tiers, le cas échéant.
                </p>
                <p>
                    Certains assets utilisés sur ce site peuvent provenir de sources tierces, telles que :
                </p>
                <ul>
                    <li><a href="https://fontawesome.com/" target="_blank">Font Awesome (icônes)</a></li>
                    <li>Image de <a href="https://fr.freepik.com/photos-gratuite/cahier-plat-liste-taches-bureau_13696814.htm" target="_blank">Freepik</a></li>
                </ul>
                <p>
                    Ces assets sont utilisés conformément aux licences applicables. 
                    Toute utilisation non autorisée de ces éléments peut constituer une violation des droits d'auteur 
                    ou des licences correspondantes.
                </p>
            </div>

            <div class="section-content">
                <h3>Protection des données personnelles</h3>
                <p>
                    Le site collecte des données personnelles, y compris :
                </p>
                <ul>
                    <li>Formulaire d'inscription : email, nom d'utilisateur, mot de passe hashé, rôle(s)</li>
                </ul>
                <p>
                    Ces données sont collectées dans le but exclusif de gérer les interactions des utilisateurs avec le site.
                </p>
                <p>
                    Durée de conservation des données : 24 heures maximum (jusqu'à la réinitialisation quotidienne)
                </p>
                <p>
                    Les données sont conservées pour une durée limitée et conforme à nos besoins opérationnels, 
                    après quoi elles sont automatiquement réinitialisées comme stipulé dans la rubrique "Réinitialisation des données" ci-dessous.
                </p>
            </div>

            <div class="section-content">
                <h3>Réinitialisation des données</h3>
                <p>
                    Toutes les données collectées sur ce site sont réinitialisées quotidiennement de manière automatique.
                </p>
                <p>
                    Heure de réinitialisation quotidienne : 05h00 (heure de Paris)
                </p>
                <p>
                    Aucune sauvegarde des anciennes données n'est réalisée.
                </p>
            </div>

            <div class="section-content">
                <h3>Utilisation des données</h3>
                <p>
                    Aucune information collectée n'est revendue ni utilisée à des fins commerciales ou non commerciales.
                </p>
                <p>
                    Les données sont exclusivement utilisées pour le bon fonctionnement du site.
                </p>
                <p>
                    Nous prenons des mesures de sécurité rigoureuses pour protéger vos données personnelles contre tout accès non autorisé, modification, 
                    divulgation ou destruction.
                </p>
            </div>

            <div class="section-content">
                <h3>Droits des utilisateurs sur leurs données personnelles</h3>
                <p>
                    Bien que les données collectées sur ce site soient uniquement à des fins démonstratives et réinitialisées quotidiennement, 
                    les utilisateurs disposent des droits suivants en ce qui concerne leurs données personnelles :
                </p>
                <ul>
                    <li>Le droit d'accès : Obtenir une copie des données personnelles que nous détenons à votre sujet.</li>
                    <li>Le droit de rectification : Corriger toute donnée personnelle inexacte vous concernant.</li>
                    <li>Le droit à l'effacement : Demander la suppression de vos données personnelles.</li>
                    <li>Le droit à la portabilité des données : Recevoir les données personnelles que vous nous avez fournies, dans un format structuré, couramment utilisé et lisible par machine, et le droit de transmettre ces données à un autre responsable du traitement.</li>
                </ul>
                <p>
                    Pour exercer ces droits, les utilisateurs peuvent contacter l'éditeur (<a href="mailto:contact@gaelpaquien.com">contact@gaelpaquien.com</a>).
                </p>
            </div>

            <div class="section-content">
                <h3>Cookies et traçage</h3>
                <p>
                    Notre site ne fait usage d'aucun cookie et ne procède à aucun traçage des utilisateurs.
                </p>
                <p>
                    Nous respectons la confidentialité de nos visiteurs et ne recueillons pas de données de navigation ou personnelles à des fins de suivi ou de publicité.
                </p>
            </div>

            <div class="section-content">
                <h3>Contact pour les questions de confidentialité</h3>
                <p>
                    Pour toute question concernant la confidentialité et la protection de vos données, ou pour exercer vos droits relatifs à vos données personnelles, 
                    veuillez contacter l'éditeur (<a href="mailto:contact@gaelpaquien.com">contact@gaelpaquien.com</a>).
                </p>
            </div>

            <div class="section-content">
                <h3>Finalité du site</h3>
                <p>
                    Ce site n'a pas vocation à générer des revenus ou à attirer un trafic important.
                </p>
                <p>
                    Ce site est uniquement destinée à des fins d'information et de démonstration et n'a pas vocation à évoluer.
                </p>
            </div>

            <div class="section-content">
                <h3>Liens externes</h3>
                <p>
                    Ce site peut contenir des liens vers des sites externes qui ne sont pas opérés par nous.
                </p>
                <p>
                    Nous n'avons aucun contrôle sur le contenu, les politiques de confidentialité ou les pratiques de ces sites tiers et déclinons toute responsabilité 
                    à cet égard.
                </p>
                <p>
                    L'utilisation de ces sites externes est soumise à leurs propres conditions d'utilisation et politiques de confidentialité.
                </p>
            </div>

            <div class="section-content">
                <h3>Utilisation du site</h3>
                <p>
                    Toute utilisation abusive ou frauduleuse du site est interdite.
                </p>
            </div>

            <div class="section-content">
                <h3>Responsabilité de l'utilisateur</h3>
                <p>
                    Les utilisateurs du site sont responsables de l'exactitude des informations fournies pour le formulaire d'inscription.
                </p>
            </div>

            <div class="section-content">
                <h3>Limitation de responsabilité</h3>
                <p>
                    L'éditeur du site ne peut garantir l'exactitude, la fiabilité ou la disponibilité continue du site.
                </p>
                <p>
                    De plus, nous ne sommes pas responsables :
                </p>
                <ul>
                    <li>Des dommages indirects tels que la perte de profit, de données ou d'opportunités d'affaires résultant de l'utilisation de ce site.</li>
                    <li>Des dysfonctionnements logiciels ou matériels de l'utilisateur ou de problèmes de connectivité Internet qui pourraient survenir lors de l'utilisation du site.</li>
                    <li>Des contenus publiés par des tiers sur le site ou des dommages résultant de leur utilisation ou de leur confiance en ces contenus.</li>
                </ul>
                <p>
                    Cette limitation de responsabilité s'applique dans la mesure permise par la loi.
                </p>
            </div>

            <div class="section-content">
                <h3>Procédures en cas de violation de données</h3>
                <p>
                    En cas de violation de données personnelles, nous nous engageons à notifier les utilisateurs concernés et les autorités compétentes, conformément à la réglementation en vigueur.
                </p>
                <p>
                    Nous prenons également les mesures nécessaires pour minimiser l'impact de telles violations.
                </p>
            </div>

            <div class="section-content">
                <h3>Loi applicable et juridiction compétente</h3>
                <p>
                    Ces termes et conditions d'utilisation sont soumis au droit français.
                </p>
                <p>
                    En cas de litige, la juridiction compétente est celle du lieu de résidence de l'éditeur.
                </p>
            </div>

        </div>
    </section>
{% endblock %}
