<div id="project-popup" class="popup" style="display: none">
    <div class="popup-content">
        <div class="popup-header">
            <h2>OpenClassrooms - ToDo & Co</h2>
        </div>
        <div class="popup-body">
            <div class="popup-context">
                <h3>Contexte du projet</h3>
                <p>
                    Audit (qualité et performance) d'une application existante afin d'identifier les tâches nécessaires à son amélioration. Optimisation et réduction de la dette technique de cette application.
                    <br>
                    Ce projet a été réalisé dans le cadre de la formation OpenClassrooms "Développeur d'application - PHP/Symfony".
                </p>
                <div>
                    <p>En plus de son cahier des charges, le projet devait respecter les consignes suivantes :</p>
                    <ul>
                        <li>Mise en place des tests automatisés (tests unitaires et fonctionnels avec PHPUnit) </li>
                        <li>Réaliser un audit de qualité du code (Codacy) et de performance de l'application (New Relic)</li>
                        <li>Réduire la dette technique (PHP 5.6 / Symfony 3 -> PHP 8.2 / Symfony 6)</li>
                        <li>Produire une documentation technique concernant l'authentification</li>
                    </ul>
                </div>
            </div>
            <div class="popup-skills">
                <h3>Compétences évaluées</h3>
                <ul>
                    <li>
                        Implémenter de nouvelles fonctionnalités au sein d’une application déjà initiée en suivant 
                        un plan de collaboration clair
                    </li>
                    <li>Lire et retranscrire le fonctionnement d’un morceau de code écrit par d’autres développeurs</li>
                    <li>Mettre en œuvre des tests unitaires et fonctionnels</li>
                    <li>Produire un rapport de l’exécution des tests</li>
                    <li>Analyser la qualité de code et la performance d’une application</li>
                    <li>Établir un plan pour réduire la dette technique d’une application</li>
                    <li>Fournir des patchs correctifs lorsque les tests le suggèrent</li>
                    <li>Proposer une série d’améliorations</li>
                </ul>
            </div>
        </div>
        <div class="popup-footer">
            <h3>Liens utiles</h3>
            <ul>
                <li><a href="#" id="close-popup">Revenir sur le site</a></li>
                <li><a href="https://github.com/Galuss1/openclassrooms-todoandco" target="_blank">Code source GitHub</a></li>
                <li><a href="https://www.gaelpaquien.com" target="_blank">Mon site personnel</a></li>
            </ul>
        </div>
    </div>
</div>