<div class="top-headband">
    <div class="text-center d-flex flex-column">
        <p>Ce projet a été réalisé dans le cadre d'une formation.</p>
        <p>Les données sont réinitialisées quotidiennement.</p>
        <div class="d-flex flex-row justify-content-center">
            <a class="px-2" href="#" id="popup-trigger">Plus d'infos</a> 
            |
            <a class="px-2" href="https://github.com/Galuss1/openclassrooms-todoandco" target="_blank">Code source GitHub</a>
            |
            <a class="px-2" href="https://www.gaelpaquien.com" target="_blank">Mon site personnel</a>
        </div>
    </div>
</div>
