h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

footer {
    border-top: solid 1px #000;
}

.content {
    margin-bottom: 75px;
}

.slide-image {
    width: 100%;
    height: 500px;
}

.form-control {
    margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
    .task-list-card-header {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .slide-image {
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .slide-image {
        height: 200px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 20px;
    }
}
